{% extends 'base.html' %}

{% load static %}

{% block content %}

<section> 
<div class="row align-items-center homeRow">
    <div class="col-md-8 order-md-2 homeCol" style="background-color: aqua;">
        From our house of dad jokes and punny puns comes Canmore Pie & Sell. Bringing you a hearty slice of English fare.<br>
        We're two expats living the Rocky Mountain dream ut every so often we miss that crisp all butter pastry drowned in 
        grave from the local pub. <br>
        I say 'we'; he does the spreadsheet and puns and I'm the one covered in flour! <br>
        I set about making my own all butter pastry a few years ago and haven't stopped.<br>
        We hope you love our pies as much as we do!
    </div>
    <div class="col-md-4 order-md-1" style="background-color: bisque;">
hello
    </div>
</div>
</section>


{% endblock %}