body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: underline;
    color: #1d4528;
}

a:hover {
    color: black;
}

.soldOut {
    position: absolute;
    font-size: 100px;
    color: red;
}

/*-- BASE.HTML --*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           /* Footer height */
  font-size: 10px;
  margin-left: 10px;
}

.logo { /*-- Canmore pie and sell logo in nav bar --*/
    max-width: 220px;
    max-height: 220px;
    margin-left: 10px;
}

.navigation { /*-- centres the nav items --*/
    margin: auto;
} 

.nav-link {/*-- increases font size of nav items and spaces them --*/
    font-size: 35px;
    margin-left: 60px;
    text-decoration: none;
    color:#1d4528;
}

.nav-link:hover{ /*-- changes hover color --*/
    color: black;
}


.NavButton {/*-- Changes color of fa-lines and increases size. --*/
    font-size: 20px;
    color:#1d4528;
}
/*-- home.html --*/
.homeRow { /*-- makes the two colums 90% wide  --*/
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.homeCol { /*-- Edits the about us paragraph --*/
    height: 350px;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

.MadeInCanmoreRow { /*-- Edits the 'made in canmore' row --*/
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    font-size: 35px;
    justify-content: center;
    font-style: italic;
}

.InstagramSymbol {/*-- Edits the instagram symbol --*/
    margin: auto;
    font-size: 35px;
    justify-content: center;
}

.CarouselImage { /*-- Edits the carousel images --*/
   width: 350px;
   height: 350px;
   border-radius: 50%;
}
.imageRow{/*-- Edits the row holding the carousel images --*/
   text-align: center;
   margin-top: 15px;
}

/*-- menu.html --*/
.menuRow {/*-- Edits the menu div --*/
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.pieName{ /*-- Edits the pie name font size --*/
    font-size: 25px;
}

hr{
    background-color: #1d4528;
    height: 3px;
    width: 80%;
}

.pie_desc {/*-- Edits the pie description font size --*/
    font-size: 15px;
}

.pie_price {/*-- Edits the pie price font size --*/
    font-size: 20px;
}

.InstaRow { /*-- Edits the perfecting recipe paragraph --*/
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 22px;
    justify-content: center;
}
/*-- contact.html --*/
.contact{/*-- Edits the contact form --*/
    margin: auto;
    justify-content: center;
    text-align: center;
    color: #1d4528;
    font-size: 20px;
}

.contactbutton {
    background-color: white;
    color: #1d4528;
    border: 3px solid #1d4528;
    border-radius: 5px;
    font-size: 20px;
}

/*-- for medium and small screens! --*/
@media only screen and (max-width: 768px) {
    .logo {/*-- Canmore pie and sell logo in nav bar --*/
    max-width: 120px;
    max-height: 120px;
    margin-left: 10px;
}

.nav-item {/*-- aligns the list items to the right on smaller screens. --*/
    text-align: right;
}
.nav-link {/*-- increases font size of nav items and spaces them --*/
    font-size: 10px;
    margin-left: 60px;
    text-decoration: none;
    color:#1d4528;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           /* Footer height */
  font-size: 5px;
  margin-left: 10px;
}

.homeCol { /*-- Edits the about us paragraph --*/
    height: 160px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 0px;
}

.MadeInCanmoreRow { /*-- Edits the 'made in canmore' row --*/
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    font-size: 15px;
    justify-content: center;
    font-style: italic;
}

.InstagramSymbol {/*-- Edits the instagram symbol --*/
    margin: auto;
    font-size: 15px;
    justify-content: center;
}
.CarouselImage { /*-- Edits the carousel images --*/
   width: 200px;
   height: 200px;
   border-radius: 50%;
}

.imageRow{/*-- Edits the row holding the carousel images --*/
   text-align: center;
   margin-top: 15px;
}
/*-- MENU.HTML --*/
.menuRow {/*-- Edits the menu div --*/
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
   
}

.pieName{ /*-- Edits the pie name font size --*/
    font-size: 12px;
}

hr{
    background-color: #1d4528;
    height: 3px;
    width: 80%;
    margin-top: -10px;
    margin-bottom: 5px;
}

.pie_desc {/*-- Edits the pie description font size --*/
    font-size: 10px;
}

.pie_price {/*-- Edits the pie price font size --*/
    font-size: 12px;
}

.InstaRow { /*-- Edits the perfecting recipe paragraph --*/
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 10px;
    justify-content: center;
}

/*-- contact.html --*/
.contact{/*-- Edits the contact form --*/
    margin: auto;
    justify-content: center;
    text-align: center;
    color: #1d4528;
    font-size: 10px;
}

.contactbutton {
    background-color: white;
    color: #1d4528;
    border: 1px solid #1d4528;
    border-radius: 5px;
    font-size: 10px;
}
}




